section.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  place-items: center;
  padding: 10px 0;

  section.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    .card {
      max-width: 400px;

      .actions {
        gap: 10px;
      }
    }
  }
}
