section.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  place-items: center;
  padding: 10px 0;

  div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  section.filter {
    width: 100%;
    max-width: 800px;

    mat-form-field {
      width: 100%;
    }
  }

  section.products {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 16px;

    .card {
      max-width: 400px;
      flex: 1;

      mat-card-title {
        margin-bottom: 12px;
      }

      img {
        height: 200px;
        object-fit: contain;
        padding: 5px 0;
      }

      p {
        text-align: center;
        margin: 12px 0;
      }

      .actions {
        justify-content: center;
        gap: 10px;
      }
    }
  }
}
