<section class="wrapper">
  <h1>Shop Loyalty</h1>
  <article>
    <aside>
      <p>
        Introducing "Shop Loyalty" a revolutionary concept aimed at transforming
        the traditional shopping experience into a seamless and rewarding
        journey. The premise is elegantly simple yet profoundly impactful: as a
        user steps into a store with the intention to make a purchase, they can
        effortlessly engage with our innovative system by scanning a QR code
        conveniently placed near the desired item. This action seamlessly
        integrates the selected item into their digital shopping cart on our
        website, streamlining the entire purchasing process.
      </p>
      <p>
        But why go through this extra step, you might wonder? The answer lies in
        the ingenious loyalty program embedded within the framework of Shop
        Loyalty. Each time a user scans a product and proceeds to checkout,
        their transaction is meticulously recorded, contributing to their
        cumulative loyalty score. Over time, these purchases accumulate, paving
        the way for exclusive discounts and rewards generously bestowed by the
        discerning shop owners.
      </p>
      <p>
        Imagine the thrill of acquiring your favorite items at a discounted
        price, simply by being a loyal patron. With Shop Loyalty, there's no
        need to wait endlessly for seasonal sales or promotions. Instead, every
        purchase becomes a step closer to unlocking enticing discounts,
        transforming routine shopping into a gratifying experience filled with
        excitement and value. Embrace the future of retail with Shop Loyalty,
        where every scan brings you closer to unparalleled savings and
        unparalleled satisfaction.
      </p>
    </aside>
    <aside>
      <img src="../../../assets/qr_code.png" alt="Qr code try scan" />
    </aside>
  </article>
  <section class="contact">
    <h3>How would you like to contact us ?</h3>
    <h4>
      Email:
      <a href="mailto:info@konstantinedatunishvili.com">
        info&#64;konstantinedatunishvili.com
      </a>
    </h4>
    <h4>
      Phone:
      <a href="tel:+995574396611">+995 574 39 66 11</a>
    </h4>
  </section>
</section>
